.box {
    width: 200px;
  }
  .minibox {
    margin: 2%;  
    width: 10%;
    height: 40%;
  }
  .width {
    width: 100%;
  }
  .max {
    max-width: 100%;
  }

  .imagenLibro {
    
    border: 1px solid black;
    box-shadow: 5px 5px black;
    
  }